{% extends 'core/base.html' %}

{% block title %}Rooms | {% endblock %}

{% block content %}
<section class="section ">
    <div class="columns is-multiline">
        <h1 class="title has-text-centered ">Rooms</h1>
        {% for room in rooms %}
        <div class="column is-4 has-text-centered">
            <div class="box">
                <h2 class="subtitle">{{ room.name }}</h2>

                <a href="{% url 'room' room.id %}" class="button">Join</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}