<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}Real time chat</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>

    <body>
        <nav class="navbar is-dark is-purple pt-2 pb-2">
            <div class="navbar-brand">
                <a href="/" class="navbar-item is-size-4">Real Time Chat</a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    {% if request.user.is_authenticated %}
                        <div class="navbar-item">
                            <a href="/logout/" class="button"><strong>Log out</strong></a>
                        </div>
                    {% else %}
                        <div class="navbar-item">
                            <a href="/login/" class="button"><strong>Log in</strong></a>
                        </div>
                        <div class="navbar-item">
                            <a href="/signup/" class="button"><strong>Sign up</strong></a>
                        </div>
                    {% endif %}
                </div>
                
            </div>
        </nav>
        {% if request.user.is_authenticated %}
            <h6>Welcome {{ request.user.get_username }}</h6>
        {% else %}
            <h6>Hello there</h6>
        {% endif %}
        {% block content %}
        {% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>